
{% extends 'main/base.html' %}
{% load static %}
{% block content %} <!-- Start of Block Content -->
    <div class="registration-container">

        <h2>Login</h2>

        {% load crispy_forms_tags %}
        <form method="post">
            {% csrf_token %}{{form|crispy}}
            <p>Don't have an account? <a href="/register">Register Here</a>! </p>
            <button type="submit" class="btn btn-success">Login</button>
        </form>
        {{from.errors}}

    </div>
{% endblock  %} <!-- End of Block Content -->
