{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" , href="{% static 'css/style.css' %}">
    <link rel="stylesheet" , href="{% static 'css/bootstrap.css' %}">
</head>
<body>
    <div class="registration-container">

        <h2>Login - Page</h2>

        {% load crispy_forms_tags %} {% block content%}
        <form method="post">
            {% csrf_token %}{{form|crispy}}
            <p>Don't have an account? Login <a herf="login>">Here</a>!</p>
            <button type="submit" class="btn btn-success">Login</button>
        </form>
        {{from.errors}}
        {% endblock %}
    </div>
</body>
</html>
