{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" , href="{% static 'css/style.css' %}">
</head>

<body>


    <div class="nav-container">
        <svg class="nav-background" xmlns="http://www.w3.org/2000/svg" width="1440" height="747" viewBox="0 0 1440 747"
            fill="none">
            <path d="M0 0H1440V500L892.461 550C766.107 561.2 638.921 560.6 512.622 549L0 500V0Z" fill="#0038FF"
                fill-opacity="0.6" />
        </svg>

        <nav class="navbar">
            <div class="navbar-menu">

                <h1 class="navbar-title">NutriHealth</h1>
                <div class="navbar-image"></div>

                <a href="#" class="navbar-item">Home</a>
                <a href="#" class="navbar-item">About us</a>
                <a href="#" class="navbar-item">Dashboard</a>
                <a href="#" class="navbar-item">Our Team</a>
                <a href="#" class="navbar-item">Contact us</a>
            </div>
            <div class="navbar-actions">
                <a href="#" class="navbar-item">Login</a>
                <a href="#" class="navbar-item">Sign up</a>
            </div>
        </nav>
    </div>


    <section class="healthy-living">
        <h1 class="title">
            Healthy
            <span class="title-accent">living</span>
            <br />
            <span class="title-accent">made easy!!</span>
        </h1>
        <p class="description">
            Track dietary intake, compare with recommended guidelines for optimal health.
        </p>
        <button class="signup-button">Sign up</button>
        <p class="signin-text">Sign in & get started today</p>
    </section>


</body>

</html>