{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" , href="{% static 'css/style.css' %}">
</head>

<body>

    <li class="nav-item"> <!-- Start of Nav Item -->
        <a class="nav-link px-3" href="/register">Sign Up</a> <!-- Sign Up Link-->
      </li> <!-- End of Nav Item -->

    <li class="nav-item">
    <a class="nav-link px-3" href="{% url 'login' %}"</a>login</a> </a><!---login.link-->
    </li>

</body>

</html>