{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" , href="{% static 'css/style.css' %}">
</head>

<body>

    <ul>
        {% if user.is_authenticated %} <!-- Checks to see if the user is authenticated-->
            <li> <!-- Start of Nav Item -->
                <li class="navbar-text pr-l">{{user.username}}</li> <!-- Displays the logged in user username-->
                <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button class="navbar-text px-3 btn-sign-out" type="submit">Logout</button> <!-- Logout Button-->
                </form>
            </li> <!-- End of Nav Item -->
        {% else%}
            <li><a class="nav-link px-3" href="/register">Sign Up</a></li> <!-- Sign Up Link-->
            <li><a class="nav-link px-3" href="{% url 'login' %}">login</a></li><!---login.link-->
        {% endif %}
    </ul>
      




</body>

</html>