* {
    margin: 0px;
    padding: 0px;
}

.nav-container {
    position: relative;
}

.nav-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: -1;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: #fff;
    font-size: 20px;
}

.navbar-menu {
    display: flex;
    gap: 20px;
}

.navbar-title {
    font-size: 24px;
    color: #fff;
}

.navbar-image {
    background-color: rgb(226, 43, 43);
    padding: 15px;
}

.navbar-item {
    text-decoration: none;
    color: #fff;
}






.healthy-living {
    display: flex;
    max-width: 378px;
    flex-direction: column;
    color: #fff;
    font-weight: 400;
  }
  
  .title {
    width: 100%;
    font: 700 50px/55px "Open Sans", sans-serif;
  }
  
  .title-accent {
    font-weight: 300;
    font-size: 40px;
  }
  
  .description {
    margin-top: 22px;
    width: 100%;
    font: 20px/27px "Open Sans", sans-serif;
  }
  
  .signup-button {
    align-items: center;
    border-radius: 10px;
    box-shadow: -2px 3px 6px 0px rgba(0, 0, 0, 0.25);
    background-color: #94b950;
    margin-top: 28px;
    width: 100%;
    text-align: center;
    justify-content: center;
    padding: 10px 60px;
    font: 24px/137.5% "Open Sans", sans-serif;
  }
  
  .signin-text {
    text-align: center;
    margin-top: 5px;
    width: 100%;
    font: 14px/136% "Open Sans", sans-serif;
  }
