* {
    margin: 0px;
    padding: 0px;
}

.registration-container {
    width: 800px;
    margin: 0px auto 0px auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
.nav-color {
  background-color: #333;
}

  li {
    float: left;
  }
  
  li a {
    display: block !important;
    color: white !important;
    text-align: center !important;
    padding: 8px 8px !important;
    text-decoration: none !important;
  }
  
  li a:hover {
    background-color: #111;
  }

  .registration {
    float: right;
    display: flex;
    align-items: center;
  }

  .username-txt {
    color: #fff;
    padding-right: 10px;
  }

  .btn-sign-out {
    color: #fff;
    background: none;
    border: none;
  }