* {
  margin: 0px;
  padding: 0px;
}

.page-heading {
  text-align: center;
}

.registration-container {
  width: 800px;
  margin: 0px auto 0px auto;
}

.main-container {
  width: 800px;
  margin: 0px auto 0px auto;
}

nav {
  background-color: #68f;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}


li {
  float: left;
}

li a {
  display: block !important;
  color: white !important;
  text-align: center !important;
  padding: 8px 8px !important;
  text-decoration: none !important;
}

li a:hover {
  background-color: #111;
}

.nav-header {
  font-family: 'Amita';
}

.registration {
  float: right;
  display: flex;
  align-items: center;
}

.username-txt {
  color: #fff;
  padding-right: 10px;
}

.btn-sign-out {
  color: #fff !important;
  background: none;
  border: none;
}

.about-container {
  display: flex;
  justify-content: center;
}

.about-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 1200px;
  gap: 15px;
}

.about-items div {
  background-color: #f2f2f2;
}

.team-container {
  display: flex;
  justify-content: center;
}

.team-member-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 1000px;
  gap: 40px;
}

.item-container {
  display: grid;
  grid-template-columns: 1.6fr 3fr;
  border-bottom: 1px solid green;
}

.image-container {
  background-color: #808080 !important;
  height: 175px;
}

.team-member-image {
  height: 75%;
  width: 250px;
}

.team-member {
  display: inline-block;
  background-color: #474747;
  height: 360px;
  padding: 30px 30px 0px 30px;
  text-align: center;
  color: #fff;
}

.team-member-heading {
  margin-top: 9px;
  margin-bottom: 4px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #68f;
  padding: 10px;
  color: #fff;
  margin-top: 50px;
}

.footer-logo-container {
  width: 272px;
  height: 54px;
  background: red;
}

.footer-link {
  margin: 0px 55px;
  transition: none;
}

.footer-nav ul li a:hover {
  background-color: none !important;
}

.footer-social-container {
  display: flex;
  gap: 40px;
  margin-bottom: 20px;
}

.social-item {
  padding: 10px;
}