{% extends 'main/base.html' %}
{% block content %} <!-- Start of Block Content -->

<div class="about-container">
    <div class="about-items">
        <div class="item-container">
            <div class="image-container">

                <img src="/media/food/Cooking.jpg" alt="">
            </div>

            <div class="text-container">
                <h5>Track your way to success</h5>
                <p>Track your activities
                    and what you eat with the help of our food-,
                    exercise- and water trackers to maintain a balanced
                    everyday life.
                </p>
            </div>
        </div>
        <div class="item-container">
            <div class="image-container">
                <img src="/media/food/diet.jpg" alt="">
            </div>
            <div class="text-container">
                <h5>Track your way to success</h5>
                <p>Track your activities
                    and what you eat with the help of our food-,
                    exercise- and water trackers to maintain a balanced
                    everyday life.
                </p>
            </div>
        </div>
        <div class="item-container">
            <div class="image-container">
                <img src="/media/food/nutrition.jpg" alt="">
            </div>
            <div class="text-container">
                <h5>Track your way to success</h5>
                <p>Track your activities
                    and what you eat with the help of our food-,
                    exercise- and water trackers to maintain a balanced
                    everyday life.
                </p>
            </div>
        </div>
        <div class="item-container">
            <div class="image-container">
                <img src="/media/food/nutrition.jpg" alt="">
            </div>
            <div class="text-container">
                <h5>Track your way to success</h5>
                <p>Track your activities
                    and what you eat with the help of our food-,
                    exercise- and water trackers to maintain a balanced
                    everyday life.
                </p>
            </div>
        </div>
        <div class="item-container">
            <div class="image-container">
                <img src="/media/food/diet.jpg" alt="">
            </div>
            <div class="text-container">
                <h5>Track your way to success</h5>
                <p>Track your activities
                    and what you eat with the help of our food-,
                    exercise- and water trackers to maintain a balanced
                    everyday life.
                </p>
            </div>
        </div>
        <div class="item-container">
            <div class="image-container">
                <img src="/media/food/Cooking.jpg" alt="">
            </div>
            <div class="text-container">
                <h5>Track your way to success</h5>
                <p>Track your activities
                    and what you eat with the help of our food-,
                    exercise- and water trackers to maintain a balanced
                    everyday life.
                </p>
            </div>
        </div>
        <div class="item-container">
            <div class="image-container">
                <img src="/media/food/nutrition.jpg" alt="">
            </div>
            <div class="text-container">
                <h5>Track your way to success</h5>
                <p>Track your activities
                    and what you eat with the help of our food-,
                    exercise- and water trackers to maintain a balanced
                    everyday life.
                </p>
            </div>
        </div>
        <div class="item-container">
            <div class="image-container">
                <img src="/media/food/nutrition.jpg" alt="">
            </div>
            <div class="text-container">
                <h5>Track your way to success</h5>
                <p>Track your activities
                    and what you eat with the help of our food-,
                    exercise- and water trackers to maintain a balanced
                    everyday life.
                </p>
            </div>
        </div>
    </div>

</div>

{% endblock %} <!-- End of Block Content -->