{% extends 'main/base.html' %}
{% block content %} <!-- Start of Block Content -->

<div class="about-container">
    <div class="about-items">
        <div class="item-one">1</div>
        <div class="item-one">2</div>
        <div class="item-one">3</div>
        <div class="item-one">4</div>
        <div class="item-one">5</div>
        <div class="item-one">6</div>
        <div class="item-one">7</div>
        <div class="item-one">8</div>
    </div>

</div>

{% endblock  %} <!-- End of Block Content -->
