{% extends 'main/base.html' %}
{% block content %} <!-- Start of Block Content -->

<div class="dasboard-container">

    <div class="side-nav">
        <a class="nav-link side-link" href="{% url 'dashboard' %}">Dashboard</a>
        <a class="nav-link side-link" href="/user-information/{{ user.id }}/">Manage User</a>
        <a class="nav-link side-link" href="{% url 'nutrition_database' %}">Nutrition Database</a>
        <a class="nav-link side-link" href="{% url 'daily_intake' %}">Daily Intake</a>
        <a class="nav-link side-link" href="/user-information/{{ user.id }}/">Saved Daily Intake</a>
    </div>

    <div class="dashboard-main-container">
        <h1> Daily Intake Page </h1>
    </div>

</div>







{% endblock %} <!-- End of Block Content -->