{% extends 'main/base.html' %}

{% block title %}Dashboard - NutriHealth{% endblock %}

{% block content %} <!-- Start of Block Content -->

<div class="dasboard-container">

    <div class="side-nav">
        <a class="nav-link side-link" href="{% url 'dashboard' %}">Dashboard</a>
        <a class="nav-link side-link" href="/user-information/{{ user.id }}/">Manage User</a>
        <a class="nav-link side-link" href="{% url 'nutrition_database' %}">Nutrition Database</a>
        <a class="nav-link side-link" href="{% url 'daily_intake' %}">Daily Intake</a>
        <a class="nav-link side-link" href="{% url 'saved_daily_intake' %}">Saved Daily Intake</a>
    </div>

    <div class="dashboard-main-container">
       
        <div class="dashboard-items">

            <h2>New Features Added</h2>

            <ul class="new-list">
                <li><a href="#">New Feature</a></li>
                <li><a href="#">Bug Fix</a></li>
                <li><a href="#">Improved Performance</a></li>
                <li><a href="#">Enhanced User Interface</a></li>
                <li><a href="#">Security Enhancement</a></li>
                <li><a href="#">Optimized Database Queries</a></li>
                <li><a href="#">Added Documentation</a></li>
                <li><a href="#">Refactored Codebase</a></li>
                <li><a href="#">Streamlined Workflow</a></li>
                <li><a href="#">Localization Support</a></li>
                <li><a href="#">Accessibility Improvements</a></li>
                <li><a href="#">Cross-browser Compatibility</a></li>
                <li><a href="#">Responsive Design</a></li>
                <li><a href="#">Integration with Third-party Services</a></li>
            </ul>
        </div>

    </div>

</div>







{% endblock %} <!-- End of Block Content -->