{% extends 'main/base.html' %}

{% block title %}Dashboard - NutriHealth{% endblock %}

{% block content %} <!-- Start of Block Content -->

<div class="dasboard-container">

    <div class="side-nav">
        <a class="nav-link side-link" href="{% url 'dashboard' %}">Dashboard</a>
        <a class="nav-link side-link" href="/user-information/{{ user.id }}/">Manage User</a>
        <a class="nav-link side-link" href="{% url 'nutrition_database' %}">Nutrition Database</a>
        <a class="nav-link side-link" href="{% url 'daily_intake' %}">Daily Intake</a>
        <a class="nav-link side-link" href="{% url 'saved_daily_intake' %}">Saved Daily Intake</a>
    </div>

    <div class="dashboard-main-container">
       
        <div class="dashboard-items">

            <h2>Your Daily Intake</h2>


            {% for take in intake %}
                {{ take.min_age }}
            {% endfor %}

            <ul class="new-list">

                <li><a href="{% url 'daily_intake' %}">Add Food Item</a></li>

                <h3>Pie Chart: Total Quantity by Category</h3>
                <img src="data:image/png;base64,{{ pie_chart }}" alt="Pie Chart">


                <div>
                    <h2>Daily Nutrition Summary</h2>
                    <p>Total Protein: {{ total_protein }} grams</p>
                    <p>Total Carbohydrates: {{ total_carbohydrates }} grams</p>
                    <p>Total Fat: {{ total_fat }} grams</p>
                </div>


                <div class="progress-label">Total Protein: {{ total_protein }} grams</div>
                <div class="progress-bar">
                    <div class="progress-fill" style="width: {{ total_protein_percentage }}%">{{ total_protein_percentage }}%</div>
                </div>
                <div class="progress-label">Total Carbohydrates: {{ total_carbohydrates }} grams</div>
                <div class="progress-bar">
                    <div class="progress-fill" style="width: {{ total_carbohydrates_percentage }}%">{{ total_carbohydrates_percentage }}%</div>
                </div>
                <div class="progress-label">Total Fat: {{ total_fat }} grams</div>
                <div class="progress-bar">
                    <div class="progress-fill" style="width: {{ total_fat_percentage }}%">{{ total_fat_percentage }}%</div>
                </div>


            </ul>
        </div>

    </div>

</div>







{% endblock %} <!-- End of Block Content -->