{% extends 'main/base.html' %}

{% block title %}Dashboard - NutriHealth{% endblock %}

{% block content %} <!-- Start of Block Content -->

<div class="dasboard-container">

    <div class="side-nav">
        <a class="nav-link side-link" href="{% url 'dashboard' %}">Dashboard</a>
        <a class="nav-link side-link" href="/user-information/{{ user.id }}/">Manage User</a>
        <a class="nav-link side-link" href="{% url 'nutrition_database' %}">Nutrition Database</a>
        <a class="nav-link side-link" href="{% url 'daily_intake' %}">Daily Intake</a>
        <a class="nav-link side-link" href="{% url 'saved_daily_intake' %}">Saved Daily Intake</a>
    </div>

    <div class="dashboard-main-container">
       
        <div class="dashboard-items">

            <h2>Your Daily Intake</h2>


            {% for take in intake %}
                {{ take.min_age }}
            {% endfor %}

            <ul class="new-list">

                <li><a href="{% url 'daily_intake' %}">Add Food Item</a></li>

            </ul>
        </div>

    </div>

</div>







{% endblock %} <!-- End of Block Content -->