{% extends 'main/base.html' %}
{% block content %} <!-- Start of Block Content -->

<div class="main-banner">
    <div class="main-banner-section">
        <h1> Home Title</h1>
        <p>This is the title on the home page</p>
    </div>
</div>


<div class="home-section">

    <div class="home-text-section">  
        <h2>Title on home page</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero beatae esse doloribus velit nobis aliquid fugiat eum repudiandae voluptatibus odit minima iusto, provident autem iste facere inventore voluptas est repellendus.</p>
    </div>

    <div class="home-image-section">
        <img src="/media/food/health.jpg" alt="">
    </div>


</div>

{% endblock  %} <!-- End of Block Content -->
