{% extends 'main/base.html' %}

{% block title %}Home - NutriHealth{% endblock %}

{% block content %} <!-- Start of Block Content -->

<div class="main-banner">
    <div class="main-banner-section">
        <h1>Dive into Daily Intake: Nourishing Your Journey</h1>
        <p>The ultimate student application, perfect for enhancing your learning experience.</p>
    </div>
</div>


<div class="home-section">

    <div class="home-text-section">  
        <h2>What we do?</h2>
        <p>At Nutri Health Diet Intake, we're on a mission to redefine the landscape of nutrition and wellness. With a steadfast commitment to your health and vitality, we offer an unparalleled suite of services designed to revolutionize the way you nourish your body and mind.
            Our approach is rooted in personalization and empowerment. We believe that every individual is unique, and therefore, their journey to optimal health should be too. Through cutting-edge technology and expert guidance, we craft tailored solutions that cater to your specific needs, preferences, and goals.
            From meticulously curated meal plans to ongoing support and education, our holistic approach addresses every facet of your well-being. We're not just here to provide a quick fix; we're here to cultivate lasting habits that will sustain you for a lifetime.
            At Nutri Health Diet Intake, we understand that true wellness extends beyond just the physical. That's why we prioritize a holistic approach that encompasses mind, body, and spirit. With us, you'll embark on a transformative journey that not only enhances your physical health but also enriches your overall quality of life.
            Join us as we embark on this journey together. Together, let's unlock the full potential of your health and well-being.</p>
    </div>

    <div class="home-image-section">
        <img src="/media/food/health.jpg" alt="">
    </div>


</div>

{% endblock  %} <!-- End of Block Content -->
