{% extends 'main/base.html' %}
{% block content %} <!-- Start of Block Content -->

<div class="dasboard-container">

    <div class="side-nav">
        <a class="nav-link side-link" href="{% url 'dashboard' %}">Dashboard</a>
        <a class="nav-link side-link" href="/user-information/{{ user.id }}/">Manage User</a>
        <a class="nav-link side-link" href="{% url 'nutrition_database' %}">Nutrition Database</a>
        <a class="nav-link side-link" href="{% url 'daily_intake' %}">Daily Intake</a>
        <a class="nav-link side-link" href="{% url 'saved_daily_intake' %}">Saved Daily Intake</a>
    </div>

    <div class="dashboard-main-container">
        <h1> Nutrition Database </h1>

        <div class="nutrition-header">
            <div> <p><b>Code</b></p> </div>
            <div> <p><b>Name</b></p> </div>
            <div> <p><b>Serving Size</b></p> </div>
            <div> <p><b>Energy</b></p> </div>
            <div> <p><b>Protein</b></p> </div>
            <div> <p><b>Fat</b></p> </div>
            <div> <p><b>Carbohydrates</b></p> </div>
        </div>

        {% for food in foods %}
        <div class="nutrition-item">
            <div> <p>{{food.code}}</p> </div>
            <div> <p>{{food.name}}</p> </div>
            <div> <p>{{food.serving_size}}</p> </div>
            <div> <p>{{food.energy}}</p> </div>
            <div> <p>{{food.protein}}</p> </div>
            <div> <p>{{food.fat}}</p> </div>
            <div> <p>{{food.carbohydrates}}</p> </div>
        </div>

        {% endfor %}

    </div>

</div>







{% endblock %} <!-- End of Block Content -->