{% extends 'main/base.html' %}
{% block content %} <!-- Start of Block Content -->

<div class="dasboard-container">

    <div class="side-nav">
        <a class="nav-link side-link" href="{% url 'dashboard' %}">Dashboard</a>
        <a class="nav-link side-link" href="/user-information/{{ user.id }}/">Manage User</a>
        <a class="nav-link side-link" href="{% url 'nutrition_database' %}">Nutrition Database</a>
        <a class="nav-link side-link" href="{% url 'daily_intake' %}">Daily Intake</a>
        <a class="nav-link side-link" href="{% url 'saved_daily_intake' %}">Saved Daily Intake</a>
    </div>

    <div class="dashboard-main-container">
        <h1> Nutrition Database  </h1>
        {% for food in foods %}
            <div>
                <p><b>Cood Code:</b>  {{food.code}}</p>
                <p><b>Food Name:</b> {{food.name}}</p> 
                <p><b>Food Serving Size:</b> {{food.serving_size}}</p> 
                <p><b>Food Energy:</b> {{food.energy}}</p> 
                <p><b>Food Protein:</b> {{food.protein}}</p> 
                <p><b>Food Fat:</b> {{food.fat}}</p> 
                <p><b>Food Carbohydrates:</b> {{food.carbohydrates}}</p> 
            </div>

        {% endfor %}

    </div>

</div>







{% endblock %} <!-- End of Block Content -->