{% extends 'main/base.html' %}
{% block content %} <!-- Start of Block Content -->

<h2 class="page-heading">Our Team</h2>

<div class="team-container">
    <div class="team-member">
        <div class="team-member-one">1</div>
        <div class="team-member-two">2</div>
        <div class="team-member-three">3</div>
        <div class="team-member-four">4</div>
        <div class="team-member-five">5</div>
        <div class="team-member-six">6</div>
    </div>
</div>



{% endblock  %} <!-- End of Block Content -->
