{% extends 'main/base.html' %}
{% block content %} <!-- Start of Block Content -->

<h2 class="page-heading">Our Team</h2>

<div class="team-container"> <!-- Caleb -->
    <div class="team-member-container">
        <div class="team-member">
            <div class="team-image-container">
                <img class="team-member-image" src="/media/team/caleb.jpg" alt="Caleb"> <!-- Caleb -->
            </div>
            <div class="team-info-container">
                <h4 class="team-member-heading">Caleb King</h4>
                <p>Junior Manger</p>
            </div>   
        </div>

        <div class="team-member"> <!-- Nasreen -->
            <div class="team-image-container">
                <img class="team-member-image" src="/media/team/caleb.jpg" alt="Caleb"> <!-- Caleb -->
            </div>
            <div class="team-info-container">
                <h4 class="team-member-heading">Caleb King</h4>
                <p>Junior Manger</p>
            </div>   
        </div>

        <div class="team-member"> <!-- Armdeep  -->
            <div class="team-image-container">
                <img class="team-member-image" src="/media/team/caleb.jpg" alt="Caleb"> <!-- Caleb -->
            </div>
            <div class="team-info-container">
                <h4 class="team-member-heading">Caleb King</h4>
                <p>Junior Manger</p>
            </div>   
        </div>


        <div class="team-member"> <!-- Navdeep  -->
            <div class="team-image-container">
                <img class="team-member-image" src="/media/team/caleb.jpg" alt="Caleb"> <!-- Caleb -->
            </div>
            <div class="team-info-container">
                <h4 class="team-member-heading">Caleb King</h4>
                <p>Junior Manger</p>
            </div>   
        </div>

        <div class="team-member"> <!-- Ajay  -->
            <div class="team-image-container">
                <img class="team-member-image" src="/media/team/caleb.jpg" alt="Caleb"> <!-- Caleb -->
            </div>
            <div class="team-info-container">
                <h4 class="team-member-heading">Caleb King</h4>
                <p>Junior Manger</p>
            </div>   
        </div>
   

        <div class="team-member"> <!-- Staff Wanted  -->
            <div class="team-image-container">
                <img class="team-member-image" src="/media/team/caleb.jpg" alt="Caleb"> <!-- Caleb -->
            </div>
            <div class="team-info-container">
                <h4 class="team-member-heading">Caleb King</h4>
                <p>Junior Manger</p>
            </div>   
        </div>


    </div>
</div>



{% endblock  %} <!-- End of Block Content -->
