{% extends 'main/base.html' %}

{% block title %}Our Team - NutriHealth{% endblock %}

{% block content %} <!-- Start of Block Content -->

<div class="team-container"> <!-- Caleb -->
    <div class="team-member-container">
        <div class="team-member">
            <div class="team-image-container">
                <img class="team-member-image" src="/media/team/caleb.jpg" alt="Caleb"> <!-- Caleb -->
            </div>
            <div class="team-info-container">
                <h4 class="team-member-heading">Caleb King</h4>
                <p>Junior Manger</p>
            </div>   
        </div>

        <div class="team-member"> <!-- Nasreen -->
            <div class="team-image-container">
                <img class="team-member-image" src="/media/team/nasreen.jpg" alt="Caleb"> <!-- Nasreen -->
            </div>
            <div class="team-info-container">
                <h4 class="team-member-heading">Nasreen Bhalli</h4>
                <p> Manger</p>
            </div>   
        </div>

        <div class="team-member"> <!-- Armdeep  -->
            <div class="team-image-container">
                <img class="team-member-image" src="/media/team/amardeep.jpeg" alt="Caleb"> <!-- amardeep -->
            </div>
            <div class="team-info-container">
                <h4 class="team-member-heading">Armdeep Sigh</h4>
                <p>Senior Data Analyst</p>
            </div>   
        </div>


        <div class="team-member"> <!-- Navdeep  -->
            <div class="team-image-container">
                <img class="team-member-image" src="/media/team/Navdeep.jpeg" alt="Caleb"> <!-- Caleb -->
            </div>
            <div class="team-info-container">
                <h4 class="team-member-heading">Navdeep Singh</h4>
                <p>junior Data Analyst</p>
            </div>   
        </div>

        <div class="team-member"> <!-- Ajay  -->
            <div class="team-image-container">
                <img class="team-member-image" src="/media/team/ajay.jpeg" alt="Caleb"> <!-- Ajay -->
            </div>
            <div class="team-info-container">
                <h4 class="team-member-heading">Ajay Ravji</h4>
                <p>Senior Programmer</p>
            </div>   
        </div>
   

        <div class="team-member"> <!-- Bruce  -->
            <div class="team-image-container">
                <img class="team-member-image" src="/media/team/bruce.jpg" alt=""> <!-- Wanted -->
            </div>
            <div class="team-info-container">
                <h4 class="team-member-heading">Bruce Peters</h4>
                <p>Senior Web Develpor</p>
            </div>   
        </div>


    </div>
</div>



{% endblock  %} <!-- End of Block Content -->
