{% extends 'main/base.html' %}
{% load crispy_forms_tags %}

{% load crispy_forms_tags %} {% block content %} <!-- Start of Block Content -->

<div class="main-container">
    <h2> User Infromation Page </h2>

    <form method="POST">
        {% csrf_token %}
        {{ form.age|as_crispy_field }}
        {{ form.gender|as_crispy_field }}
        {{ form.weight|as_crispy_field }}
        {{ form.height|as_crispy_field }}
        {{ form.energy_intake|as_crispy_field }}
        {{ form.existing_medical_conditions|as_crispy_field }}

        {% if user_info %}
            <button class="btn btn-success" type="submit" name="save">Update</button>
        {% else %}
            <button class="btn btn-success" type="submit" name="save">Add User Information</button>
        {% endif %}
    </form>

</div>

{% endblock %} <!-- End of Block Content -->