{% extends 'main/base.html' %}
{% block content %} <!-- Start of Block Content -->



<div class="form-container">

<div class="form-section-one">
    <h2> Contact form</h2>
    <p>Contact form ................ ................... ................ ................ ................ <p>
    
    <p><i class="fa fa-lock"></i> dwdwdwdw dwd wdwwd dw wdwdwdwdw dwwdwdwdw </p>

    <p><i class="fa fa-lock"></i> dwdwdwdw dwd wdwwd dw wdwdwdwdw dwwdwdwdw </p>

    <p><i class="fa fa-lock"></i> dwdwdwdw dwd wdwwd dw wdwdwdwdw dwwdwdwdw </p>
  


    <p>this Infromation is secure <i class="fa fa-lock"></i></p>

</div>

<div class="form-section-two">
    {% load crispy_forms_tags %}
    <form method="post">
        {% csrf_token %}{{form|crispy}}
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>

</div>




{% endblock %} <!-- End of Block Content -->