{% extends 'main/base.html' %}

{% block title %}Contact Us - NutriHealth{% endblock %}


{% block content %} <!-- Start of Block Content -->



<div class="form-container">

<div class="form-section-one">
    <h2> Contact form</h2>
    <p class="light-text space" >Please complete the contact form below, and we'll be in touch shortly.<p>
    
    <p class="space"><i class="fa fa-phone right-space"></i> +06 370 8865</p>

    <p class="space"><i class="fa fa-envelope right-space"></i> admin@nutrihealth.com</p>

    <p class="space"><i class="fa fa-map-marker right-space"></i>185 Princess Street, Palmerston North</p>
  
    <p><i class="fa fa-lock right-space"></i> This Infromation is secure</p>

</div>

<div class="form-section-two">
    {% load crispy_forms_tags %}
    <form method="post">
        {% csrf_token %}{{form|crispy}}
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>

</div>




{% endblock %} <!-- End of Block Content -->